<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>youdo - early</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <header>
    <ul>
      <li>
      <a href="/received">For me</a>
      </li>  
      
      <li>
      <a href="/sent">For others</a>
      </li>
    </ul>
    </header>
    
    <h1>Send new todo</h1>
    
<!--     <div>
      <button onclick="handlers.toggleAll()">Toggle All</button>
    </div> -->
    
    <form action="new" method="POST">
      <label for="to">To</label>
      <input id="to" type="email" placeholder="firstname.lastname@aun.edu.ng">
      
      <label for="from">From</label>
      <input id="from" type="email" placeholder="firstname.lastname@aun.edu.ng">
      
      <label for="todo">Todo</label>
      <input id="todo" name="todo" type="text" placeholder="Please submit your group work">
      
    <button type="submit">Send!</button>
    </form>
    
        <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </body>
</html>
